<section class="container" style="background-color: #d9c2e9; min-height: 50vh; padding: 20px; display: flex;">
    <div style="flex: 1; padding: 20px; background-color: #f4e6ff; border-radius: 8px; margin-right: 20px;">
        
      {% comment %} left side box {% endcomment %}
    </div>


    <div style="flex: 3; padding: 20px; background-color: #ffffff; border-radius: 8px;">
    <h3>Notes</h3>
    <div style="flex: 1; padding: 20px; background-color: #f4e6ff; border-radius: 8px; margin-right: 20px;">

        {% comment %} right side box {% endcomment %}
    </div>
</section>

